# Test setup.
# shell1: curl -vk --connect-to www.test1.com:4433:127.0.0.1:8080 -H "Host: www.test1.com" https://www.test1.com:4433
# shell2: ./haproxy -d -f examples/upstream-proxy.cfg
# shell3: sudo podman run --rm -it --name squid -e TZ=UTC -p 3128:3128 --network host -v /datadisk/git-repos/haproxy/examples/upstream-proxy-squid.conf:/etc/squid/squid.conf ubuntu/squid > squid_debug_all_allow_all.log 2>&1
# shell4: openssl s_server -trace -www -bugs -debug -cert reg-tests/ssl/common.pem

global
	log stdout format raw daemon debug
	stats timeout 30s

	# Should be set outsite of haproxy config
	setenv PROXY_AUTH USERNAME:MY-PASS

    #tune.pt.zero-copy-forwarding off

	# turn on stats unix socket
  	stats socket /datadisk/git-repos/haproxy/stats mode 660 level admin

	expose-experimental-directives
	#trace h1 sink stdout
	#trace h1 level developer
	#trace h1 verbosity complete
	#trace h1 start now

	#trace stream sink stdout
	#trace stream level developer
	#trace stream verbosity complete
	#trace stream start now

	#trace pt sink stdout
	#trace pt level developer
	#trace pt verbosity complete
	#trace pt start now

defaults

    log global
  	maxconn 2000
	timeout connect  5s
	timeout client  50s
	timeout server  50s

resolvers mydns
  nameserver local 127.0.0.53:53
  timeout retry   1s
  hold valid 10s
  hold nx 3s
  hold other 3s
  hold obsolete 0s
  accepted_payload_size 8192

listen proxy-forward-8080
	bind 0.0.0.0:8080
	mode tcp
	option tcplog

	#tcp-request content do-resolve(txn.dstip,mydns,ipv4) str(www.test1.com)
	#tcp-request content set-dst var(txn.dstip)
	tcp-request content set-dst str(127.0.0.1)
	tcp-request content set-dst-port int(4433)
	tcp-request content upstream-proxy-target www.test1.com
	tcp-request content upstream-proxy-header Host www.test1.com
	tcp-request content upstream-proxy-header Proxy-Authorization "basic %[env(PROXY_AUTH),base64]"

    #server stream www.httpbun.com:443 upstream-proxy-tunnel 123.45.67.89:8000
	server https_Via_Proxy1 0.0.0.0:0 upstream-proxy-tunnel 127.0.0.1:3128 init-addr 127.0.0.1
	#server https_Via_Proxy1 www.test1.com:4433 upstream-proxy-tunnel 127.0.0.1:3128 init-addr 127.0.0.1

frontend stream_fe
  bind            :::8443        v4v6
  mode tcp

  default_backend stream_be

backend stream_be

  mode tcp

  #tcp-request content upstream-proxy-header HOST www.httpbun.com
  #tcp-request content do-resolve(txn.dstip,mydns,ipv4) str(www.test1.com)
  #tcp-request content set-dst var(txn.dstip)
  tcp-request content set-dst str(127.0.0.1)
  tcp-request content set-dst-port int(4433)
  tcp-request content upstream-proxy-target www.test1.com
  tcp-request content upstream-proxy-header Host www.test1.com
  tcp-request content upstream-proxy-header Proxy-Authorization "basic %[env(PROXY_AUTH),base64]"

  #server stream www.httpbun.com:443 upstream-proxy-tunnel 123.45.67.89:8000
  server https_Via_Proxy1 0.0.0.0:0 upstream-proxy-tunnel 127.0.0.1:3128 init-addr 127.0.0.1
  #server https_Via_Proxy1 www.test1.com:4433 upstream-proxy-tunnel 127.0.0.1:3128 init-addr 127.0.0.1
